.injectedComponent {
    min-width: 230px;
    min-height: 204px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: gray;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: 15px;
    overflow: hidden !important;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.527);
    animation: fadeIn 0.3s ease forwards;
}

.iconized {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: gray;
    background-color: transparent;
    border: none;
    color: black;
    overflow: hidden !important;
    /* box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.527); */
    animation: fadeIn 0.3s ease forwards;
    cursor: pointer;
}

.iconized::before {
    content: '';
    position: absolute;
    top: 0;
    left: 3px;  /* Adjust for spacing from left */
    right: 3px; /* Adjust for spacing from right */
    height: 4px;
    background-color: var(--custom-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    -webkit-mask-composite: destination-out;
          mask-composite: subtract;
}

.topbarInput {
    background-color: white;
    outline: 0;
    border: none;
    border-bottom: 1px solid transparent;
    color: Black;
    text-align: start;
    height: 30px;
    font-family: Arial;
    font-size: 20px;
    transition: border-bottom 0.2s ease;
    width: 50%;
    margin-left: 60px;
}

.topbarInput:focus {
    border-bottom-color: #007bff;
}

.textAreaContainer {
    width: 100%;
    height: 100%;
    display: flex;  /* This helps the textarea expand */
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    overflow: hidden;
    position: relative;
}

.textArea {
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    resize: none;  /* Optional: prevents textarea's own resize handle */
    outline: none;
    border: 1px solid transparent;
    transition: border 0.2s ease;
    margin: 10px;
    background-color: rgb(51, 51, 51);
    font-weight: 400;
}

.textArea:focus {
    border: 1px solid #007bff;
}

.closeButton {
    all: unset;
    position: absolute;
    right: 2px;
    cursor: pointer;
}

.closeButton:active svg {
    color: darkred !important;
    transform: scale(0.95);
}

.saveButton {
    all: unset;
    margin-top: 2px;
    position: absolute;
    right: 24px;
    cursor: pointer;
}

.saveButton:active svg {
    color: darkgreen !important;
    transform: scale(0.95);
}

.saveButton[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.saveButton[disabled]:active {
    pointer-events: none;
}

.saveButton[disabled]:active svg {
    pointer-events: none;
    transform: none !important;  /* Prevent scale animation */
    color: gray !important;     /* Keep color gray */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.fadeOut {
    animation: fadeOut 0.3s ease forwards;
}

/* styles.module.css */
.textArea::-webkit-scrollbar {
    width: 8px !important;  /* Width of vertical scrollbar */
}

.textArea::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1) !important;  /* Scrollbar track */
    border-radius: 4px !important;
}

.textArea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2) !important;  /* Scrollbar handle */
        border-radius: 4px !important;
}

/* Hover effects */
.textArea::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3) !important;
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.hamburger {
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    left: 1px;
    top: -3px;
    transform: scale(0.8);
}

.hamburger:active {
    transform: scale(0.75);
}

.dropdown {
    position: absolute;
    top: 26px;
    left: 15px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 10px;
    gap: 11px;
    animation: dropDown 0.2s ease-out forwards;
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform-origin: top center;
}

.dropdownClose {
    animation: dropUp 0.2s ease-out forwards;
    pointer-events: none;
}

@keyframes dropDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.borderBottom {
    border-bottom: 1px solid #858585;
    width: 95%;
}

.iconizeButton {
    all: unset;
    position: absolute;
    right: 50px;
    cursor: pointer;
    transform: scale(0.9);
}

.iconizeButton:active {
    transform: scale(0.85);
}

.passwordOverlay {
    width: 100%;
    height: 100%;
    display: flex;  /* This helps the textarea expand */
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
    position: relative;
}

.passwordInput {
    position: relative;
    border: none;
    width: 241px;
    height: 37px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 5px;
    outline: none;
    padding-right: 38px;
    padding-left: 4px;
}

.passwordInput.light {
    background-color: #ffffff;  /* Darker gray-white background */
    border: 2px solid;
    border-color: rgb(200, 200, 200);
    color: #1a1a1a;  /* Almost black text */
}

.passwordInput.dark {
    background-color: rgb(33, 33, 33);  /* Dark blue background */
    border: 2px solid;
    border-color: rgb(100, 100, 100);
    color: #ffffff;  /* White text */
}

.passwordInput:focus {
    outline: 2px solid #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.passwordLabel {
    font-size: 22px;
    /* font-weight: bold; */
}

.passwordInputContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
}

.passwordInputContainer.light {
    /* box-shadow:  13px 13px 35px #b0b0b0,
             -13px -13px 35px #f2f2f2;
    backdrop-filter: blur(12px) saturate(54%);
    -webkit-backdrop-filter: blur(12px) saturate(54%);
    background-color: rgba(255, 255, 255, 0.61);
    border: 1px solid rgba(209, 213, 219, 0.3); */
    background-color: rgb(245, 245, 245);
}

.passwordInputContainer.dark {
    /* box-shadow:  15px 15px 30px #1a2437,
             -15px -15px 30px #2a3c5b;
    backdrop-filter: blur(12px) saturate(63%);
    -webkit-backdrop-filter: blur(12px) saturate(63%);
    background-color: rgba(17, 25, 40, 0.61);
    border: 1px solid rgba(255, 255, 255, 0.125); */
    background-color: rgba(33, 33, 33);
}

.passwordSubmitButton {
    width: 150px;
    height: 40px;
    border: 2px solid;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 18px;
    /* font-weight: bold; */
}

.passwordSubmitButton.light:hover {
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
}

.passwordSubmitButton.dark:hover {
    background-color: rgb(60, 60, 60);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.passwordSubmitButton:active {
    transform: scale(0.95);
}

.passwordEye {
    position: absolute;
    right: 3px;
    top: 4px;
    cursor: pointer;
}

.eye {
    border-radius: 5px;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
}

.resetPassword {
    all: unset;
    cursor: pointer;
    font-size: 16px;
    color: #397eff;
}

.resetPassword:active {
    transform: scale(0.95);
}

.verificationInput {
    width: auto;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #007bff;
    outline: none;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 15px;
    justify-content: center;
    letter-spacing: 1rem;
    text-align: center;
}

.verificationInput.light {
    background-color: #ffffff;  /* Darker gray-white background */
    color: #000000;  /* Almost black text */
}

.verificationInput.dark {
    background-color: rgba(33, 33, 33);  /* Dark blue background */
    color: #ffffff;  /* White text */
}

.ql-editor > * { 
  padding: 0;
}

/* .ProseMirror p.is-editor-empty:first-child::before {
  color: #999;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
} */

    /* Bullet list markers */
    ul li::marker {
    color: inherit;
    font-size: inherit;
    }

    /* Ordered list markers */
    ol li::marker {
    color: inherit;
    font-size: inherit;
    }

    .ProseMirror li {
    color: inherit !important;
    font-size: inherit !important;
    }

    .ProseMirror li::marker {
    color: inherit !important;
    font-size: inherit !important;
    }

input[type="color"] {
  border: none;
  outline: none;
  padding: 0;
  background: none;

  /* Remove Chrome’s default inline color well border */
  -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
